
.ourstory{
  clear :right;
  font-stretch: expanded;

}


.webringseoultoyou {
 position : relative;
 bottom : 20px;
 font-size: 10px;

}

.seoul_title {
  color: #490525;
  font-family: 'Lato', sans-serif;
  width: 100%;
  font-size: 2em;
}

.seoulbuilding{
  width: 70%;
  position : relative;
  padding-top: 50px;
  bottom : 40px;
}

.first_container{
  position :relative;
  background-color: #e4f9f5;


}
.middle-container {

  position: relative;
  background-color: #e4f9f5;
  padding-bottom:  10px;

}

.bottom-container {
  background-color: #e4f9f5;
  font-size: 120%;
  font-family: 'Montserrat', sans-serif;

}
.logo{
  width:30%;
  padding-bottom: 50px;

}
.profile{
text-align: center;
width : 80%;
margin: 0 auto 0 auto;


}

body {
  margin: 0;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 200%;
  text-align: center;

  margin : 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

h3 {
  font-family: 'Montserrat', sans-serif;
}
